html {
    height: 100%;
}
body {
    background-color: rgb(53, 50, 50);
    color: white;
    margin-top: 5rem;
    height: 100%;
}
header {
    width: 100%;
    background-color: #282566;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
.navleft a {
    float: left;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
}

.charcard {
    display: flex;
    justify-content: center;
    margin: 40px 10px;
}
.charcard img {
    object-fit: cover;
    background-size: 100% 100%;
    height: 250px;
    width: 250px;
}
.cardtext {
    background-color: black;
    color: white;
}
/*Build Page*/
.charaname {
    text-align: center;
}
.game8data {
    display: flex;
    justify-content: center;
    text-align: center;
}
.game8data strong {
    text-decoration: underline;
}
.game8data h2,
.game8data h3 {
    padding: 10px 5px;
}

.game8data table {
    padding: 10px 0;
}
.lcdata {
    width: 100%;
}
.lcinfo,
.relicinfo,
.ornamentinfo {
    text-align: center;
}
.lcinfo h4 {
    background-color: #282566;
}
.lcdata td {
    font-size: 18px;
}
.lightcones,
.relicblock,
.ornamentblock {
    padding-top: 70px;
}

.ornamentblock,
.statblock {
    padding-bottom: 40px;
}
.relicinfo h4 {
    background-color: #253666;
    font-size: 25px;
    text-align: center;
}

.ornamentinfo h4 {
    background-color: #254666;
    font-size: 25px;
}
.relicstats thead {
    background-color: #256266;
    font-size: 25px;
}
.substats {
    text-align: center;
    padding-bottom: 60px;
}
.comingsoon {
    padding-top: 10rem;
}
.wuwainfo {
    padding-left: 30px;
    text-align: center;
}
.wuweaponblock {
    text-align: center;
}
.wuwastats {
    padding-top: 40px;
}
.echoblock,
.sonatablock,
.echocoststat,
.statskill {
    padding-top: 30px;
    text-align: center;
}
.echocoststat {
    color: rgb(237, 162, 237);
}
.wusubstat {
    color: rgb(149, 149, 240);
}
.skillpriority {
    color: rgb(149, 182, 240);
}
.skillpriority h5 {
    font-weight: 700;
}