html {
    height: 100%;
}
body {

    margin-top: 5rem;
    height: 100%;
}
header {
    width: 100%;
    background-color: #282566;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
.navleft a {
    float: left;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
}

.charcard {
    display: flex;
    justify-content: center;
    margin: 40px 10px;
}
.charcard img {
    object-fit: cover;
    background-size: 100% 100%;
    height: 250px;
    width: 250px;
}
.cardtext {
    background-color: black;
    color: white;
}
/*Build Page*/
.charaname {
    text-align: center;
}