html {
    height: 100%;
}
body {
    background-color:#2d2c2f;
    color: white;
    margin-top: 5rem;
    height: 100%;
}
header {
    width: 100%;
    background-color: #282566;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
}
.navleft a {
    float: left;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    font-weight: 400;
    color: #B8C6F4;
}