{% extends "base.html" %}

{% block body %}
<h1 class="charaname">{{character.name}}</h1>
<div class="buildimg">
    <h2>Fort of Fans</h2>
    {% if fort_image %}
  <img src="{{ url_for('static', filename=fort_image) }}" width="100%">
    {% else %}
    <p>No Fort image found.</p>
    {% endif %}
</div>
<br>
<div class="buildimg">
    <h2>Sipsip</h2>
    <img src="{{ url_for('static', filename='images/Genshin/Characters/' + character.slug + '/sipsip.png') }}", width="100%">
</div>
<br>
<div class="row game8data">
  <h2>Game 8</h2>
  <br>
  <div class="row weapons">
    <h3>Weapons</h3>
    <div class="col weaponinfo">
      <h4>Best Weapon</h4>
      <img src="{{ url_for('static', filename='images/Genshin/Weapons/' + game8.weapon0 + '.png') }}", width="250px">
      <h5>{{game8.weapon0}}</h5>
    </div>
    <div class="col weaponinfo">
      <h4>Second Best Weapon</h4>
      <img src="{{ url_for('static', filename='images/Genshin/Weapons/' + game8.weapon1 + '.png') }}", width="250px">
      <h5>{{game8.weapon1}}</h5>
    </div>
    <div class="col weaponinfo">
      <h4>Third Best Weapon</h4>
      <img src="{{ url_for('static', filename='images/Genshin/Weapons/' + game8.weapon2 + '.png') }}", width="250px">
      <h5>{{game8.weapon2}}</h5>
    </div>
    <div class="col weaponinfo">
      <h4>F2P Weapon</h4>
      <img src="{{ url_for('static', filename='images/Genshin/Weapons/' + game8.weapon3 + '.png') }}", width="250px">
      <h5>{{game8.weapon3}}</h5>
    </div>
    <div class="row artifactblock">
      <h3>Artifacts</h3>
      <div class="col artifinfo">
        <h4>Best Artifact</h4>
      <img src="{{ url_for('static', filename='images/Genshin/Artifacts/' + game8.artifact0 + '.png') }}", width="250px">
      <h5>{{game8.artifact0}}</h5>
      </div>
      <div class="col artifinfo">
        <h4>Best Artifact</h4>
      <img src="{{ url_for('static', filename='images/Genshin/Artifacts/' + game8.artifact1 + '.png') }}", width="250px">
      <h5>{{game8.artifact1}}</h5>
      </div>
      <div class="col artifinfo"></div>
      <div class="col artifinfo"></div>
    </div>
  </div>
</div>
{% endblock %}