{% extends "base.html" %}

{% block body %}
<br>
<h1>The Following Characters are Under Construction:</h1>
<br>
<h2>Genshin</h2>
<br>
<ol>
    <h5>Gaming <a href="https://game8.co/games/Genshin-Impact/archives/Gaming-Best-Builds">Game8 Data can be found here</a></h5>
    <h5>Electro Traveller</h5>
    <h5>Flins</h5>
    <h5>Lauma</h5>
</ol>
<br>
<h2>HSR</h2>
<ol>
    <h5>Cyrene</h5>
    <h5>Hysilens</h5>
    <h5>Evernight</h5>
    <h5>Permansor Terrae</h5>
    <h5>Cerydra</h5>
</ol>
<br>
<h2>Wuwa</h2>
<ol>
    <h5>Augusta</h5>
    <h5>Iona</h5>
    <h5>Galbrena</h5>
    <h5>Quiyuan</h5>
</ol>
<br>
<h2>ZZZ</h2>
<ol>
    <h5>Ellen</h5>
</ol>
{% endblock %}