{% extends "base.html" %}

{% block body %}
<h1>Characters</h1>
<div class="row">
{% for hsrchar in hsrchars %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="charcard">
            <!--Character Image-->
            <a href="{{ url_for('routes.character_detail', slug=hsrchar.slug) }}" class="charlink">
                <div class="charimg">
                    <img src="{{ url_for('static', filename='images/HSR/charcards/' + hsrchar.name + '.png') }}">
                </div>
                <!--Character Information-->
                <div class="cardtext">
                    <h3>{{ hsrchar.name }}</h3>
                </div>
            </a>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}