{% extends "base.html" %}

{% block body %}
<h1 class="charaname">{{character.name}}</h1>
<div class="buildimg">
    <h2>Fort of Fans</h2>
    {% if fort_image %}
  <img src="{{ url_for('static', filename=fort_image) }}" width="100%">
    {% else %}
    <p>No Fort image found.</p>
    {% endif %}
</div>
<br>
<div class="buildimg">
    <h2>Sipsip</h2>
    <img src="{{ url_for('static', filename='images/HSR/Characters/' + character.slug + '/sipsip.png') }}", width="100%">
</div>
<br>
<div class="row game8data">
  <h2>Game8</h2>
  <div class="row lightcones">
  <br>
  <h3>Light Cones</h3>
  <div class="col lcinfo">
    <h4>Best Light Cone</h4>
    <img src="{{ url_for('static', filename='images/HSR/Light Cones/' + game8.lightcone0 + '.png') }}", width="250px">
    <h5>{{game8.lightcone0}}</h5>
  </div>
  <div class="col lcinfo">
    <h4>Second Best Light Cone</h4>
    <img src="{{ url_for('static', filename='images/HSR/Light Cones/' + game8.lightcone1 + '.png') }}", width="250px">
    <h5>{{game8.lightcone1}}</h5>
  </div>
  <div class="col lcinfo">
    <h4>Third Best Light Cone</h4>
    <img src="{{ url_for('static', filename='images/HSR/Light Cones/' + game8.lightcone2 + '.png') }}", width="250px">
    <h5>{{game8.lightcone2}}</h5>
  </div>
  <div class="col lcinfo">
    <h4>Fourth Best Light Cone</h4>
    <img src="{{ url_for('static', filename='images/HSR/Light Cones/' + game8.lightcone3 + '.png') }}", width="250px">
    <h5>{{game8.lightcone3}}</h5>
  </div>
</div>
  <br>
  <div class="row relicblock">
    <h3>Relics</h3>
    <br>
  <div class="col relicinfo">
    <h4>Best Relic Set</h4>
    <img src="{{ url_for('static', filename='images/HSR/Relics/' + game8.relic0 + '.png') }}", width="250px">
    <h5>{{game8.relic0}}</h5>
  </div>
  <div class="col relicinfo">
    <h4>Second Best Relic Set</h4>
    <img src="{{ url_for('static', filename='images/HSR/Relics/' + game8.relic1 + '.png') }}", width="250px">
    <h5>{{game8.relic1}}</h5>
  </div>
  <div class="col relicinfo">
    <h4>Third Best Relic Set</h4>
    <img src="{{ url_for('static', filename='images/HSR/Relics/' + game8.relic2 + '.png') }}", width="250px">
    <h5>{{game8.relic2}}</h5>
  </div>
  </div>
  <div class="row ornamentblock">
    <br>
  <div class="col ornamentinfo">
    <h4>Best Ornament Set</h4>
    <img src="{{ url_for('static', filename='images/HSR/Ornaments/' + game8.ornament0 + '.png') }}", width="250px">
    <h5>{{game8.ornament0}}</h5>
  </div>
  <div class="col ornamentinfo">
    <h4>Second Best Ornament Set</h4>
    <img src="{{ url_for('static', filename='images/HSR/Ornaments/' + game8.ornament1 + '.png') }}", width="250px">
    <h5>{{game8.ornament1}}</h5>
  </div>
  <div class="col ornamentinfo">
    <h4>Third Best Ornament Set</h4>
    <img src="{{ url_for('static', filename='images/HSR/Ornaments/' + game8.ornament2 + '.png') }}", width="250px">
    <h5>{{game8.ornament2}}</h5>
  </div>
  </div>
  <div class="row statblock">
    <h3>Relic Stats</h3>
    <table class="relicstats">
      <thead>
        <tr>
          <th>Body</th>
          <th>Feet</th>
          <th>Sphere</th>
          <th>Rope</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{game8.bodystat}}</td>
          <td>{{game8.feetstat}}</td>
          <td>{{game8.spherestat}}</td>
          <td>{{game8.ropestat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row substats">
    <h2>Substats</h2>
    <h3>{{game8.substats}}</h3>
  </div>
</div>
{% endblock %}